/****** FONT  ******/

/****** COLOR  ******/

$white: #fff;
$black: #262626;
$blueviolet: #8a2be2;

/****** ICON SIZE  ******/

$icon-x-sm: 10px;
$icon-sm: 14px;
$icon-large: 20px;
$icon-x-large: 24px;

/****** Z-INDEX  ******/

$zIndex-modal: 99;
$zIndex-overlay: 9;
